<div class="modal fade" id="loginModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4" style="border-radius:20px;">

        <div class="d-flex justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <h3 class="text-center mb-3">Log In</h3>

        <p class="text-center text-muted small">
            By continuing, you agree to our User Agreement and Privacy Policy.
        </p>

        <button class="btn btn-outline-secondary w-100 mb-2 rounded-pill d-flex align-items-center justify-content-center gap-2">
            📱 Continue With Phone Number
        </button>

        <button class="btn btn-outline-secondary w-100 mb-2 rounded-pill d-flex align-items-center justify-content-center gap-2">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg" width="18">
            Continue with Google
        </button>

        <div class="d-flex align-items-center mb-3">
            <hr class="flex-grow-1">
            <span class="mx-2 text-muted small">OR</span>
            <hr class="flex-grow-1">
        </div>

        <!-- <input type="text" class="form-control mb-3" placeholder="Email or username *"> -->
        <button class="btn btn-outline-secondary w-100 mb-2 rounded-pill d-flex align-items-center justify-content-center gap-2">
        ✉️ Continue with Email
        </button>
        <input type="password" class="form-control mb-2" placeholder="Password *">

        <div class="mb-2">
            <a href="#" class="small">Forgot password?</a>
        </div>

        <p class="small">
            New to platform? <a href="#">Sign Up</a>
        </p>

        <button class="btn btn-secondary w-100 rounded-pill">
            Log In
        </button>

        </div>
    </div>
</div>