<div class="modal fade" id="signupModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4" style="border-radius:16px;">

        <div class="d-flex justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <h3 class="text-center mb-3">Sign Up</h3>

        <p class="text-center text-muted small">
            By continuing, you agree to our User Agreement and Privacy Policy.
        </p>

        <button class="btn btn-outline-secondary w-100 mb-2 rounded-pill d-flex align-items-center justify-content-center gap-2">
            📱 Continue With Phone Number
        </button>

        <button class="btn btn-outline-secondary w-100 mb-2 rounded-pill d-flex align-items-center justify-content-center gap-2">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg" width="18">
            Continue with Google
        </button>

        <div class="d-flex align-items-center my-3">
            <hr class="flex-grow-1">
            <span class="mx-2 text-muted small">OR</span>
            <hr class="flex-grow-1">
        </div>

        <input type="email" class="form-control mb-3" placeholder="Email">

        <!-- <div class="mt-1"> -->
            <div class="role-select mt-3">
                <label class="form-label small text-muted">Select Your Role</label>

                <div id="roleBox" class="role-box">
                    <span id="roleText">Select your role</span>
                    <span class="arrow">▾</span>
                </div>

                <div id="roleMenu" class="role-menu d-none">
                    <div class="role-item">Startup Founder</div>
                    <div class="role-item">Investor</div>
                    <div class="role-item">Entrepreneur</div>
                    <div class="role-item">Employee</div>
                </div>
            </div>
        <!-- </div> -->

        <button class="btn btn-secondary w-100 rounded-pill">
            Continue
        </button>

        </div>
    </div>
    
    
</div>
